https://chat.deepseek.com/a/chat/s/b693a3a0-dd59-4cc2-b6b7-67484f101d65

In [1]:
from data_loader import load_data
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = load_data()
df.head(3)

           0       1   2    3   4   5    6                 7   ...  13  14              15   16                17     18      19   20
0  7590-VHVEG  Female   0  Yes  No   1   No  No phone service  ...  No  No  Month-to-month  Yes  Electronic check  29.85   29.85   No
1  5575-GNVDE    Male   0   No  No  34  Yes                No  ...  No  No        One year   No      Mailed check  56.95  1889.5   No
2  3668-QPYBK    Male   0   No  No   2  Yes                No  ...  No  No  Month-to-month  Yes      Mailed check  53.85  108.15  Yes

[3 rows x 21 columns]