In [14]:
import joblib
from data_loader import load_data
import pandas as pd
import numpy as np

In [7]:
data = load_data()

In [8]:
test = data[:20]

In [9]:
test = test.drop(columns=['customer_id'])

In [11]:
test.head(2)

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [12]:
X = test.iloc[:, 0:-1]

In [15]:
X.head(2)

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5

In [16]:
len(X.columns)

19

In [54]:
y = test.iloc[:, -1].map({'Yes':1, 'No':0}).values

In [55]:
X['monthly_charges'] = X['monthly_charges'].astype('float64')
X['total_charges'] = X['total_charges'].astype('float64')
X['senior_citizen'] = X['senior_citizen'].astype('object')

In [56]:
model = joblib.load("churn_clf_model.pkl")

In [57]:
prediction = model.predict(X)

In [58]:
prediction

array([1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1],
      dtype=int64)

In [59]:
y

array([0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0],
      dtype=int64)

In [60]:
np.column_stack((prediction, y))

array([[1, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [1, 0]], dtype=int64)