In [16]:
import joblib
from customer_churn_ml.data_loader import load_data
import pandas as pd
import numpy as np
import joblib

In [4]:
data = load_data()

In [5]:
test = data[:20]

In [6]:
test = test.drop(columns=['customer_id'])

In [7]:
test.head(2)

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
1,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [8]:
X = test.iloc[:, 0:-1]

In [9]:
X.head(2)

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges
0,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5
1,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15

In [10]:
len(X.columns)

19

In [11]:
y = test.iloc[:, -1].map({'Yes':1, 'No':0}).values

In [12]:
X['monthly_charges'] = X['monthly_charges'].astype('float64')
X['total_charges'] = X['total_charges'].astype('float64')
X['senior_citizen'] = X['senior_citizen'].astype('object')

In [13]:
model = joblib.load("churn_clf_model.pkl")

FileNotFoundError: [Errno 2] No such file or directory: 'churn_clf_model.pkl'

In [14]:
prediction = model.predict(X)

NameError: name 'model' is not defined

In [15]:
prediction

NameError: name 'prediction' is not defined

In [ ]:
y

In [ ]:
np.column_stack((prediction, y))